# pycharm section
.idea/

# packer section
packer/variables.json
packer/config.pkr.hcl

*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform
/terraform/.terraform.lock.hcl
/terraform/stage/.terraform.lock.hcl
/terraform/stage/.terraform.tfstate.lock.info
/terraform/prod/.terraform.lock.hcl
