[Unit]
Description=Puma daemon for reddit app
After=network.target

[Service]
ExecStart=/usr/local/bin/puma
Type=simple
WorkingDirectory=/monolith/reddit
Restart=always

[Install]
WantedBy=multi-user.target
