cloud_id                 = "bbbbbbbbbbbbbbbbbbbb"
folder_id                = "bbbbbbbbbbbbbbbbbbbr"
zone                     = "ru-central1-a"
image_id                 = "bbbbbbbbbbbbbbbbbbbb"
public_key_path          = "C:/Users/bbbbb/.ssh/id_ed25519.pub"
private_key_path         = "C:/Users/bbbbb/.ssh/id_ed25519"
subnet_id                = "bbbbbbbbbbbbbbbbbbbb"
service_account_key_file = "C:/Users/bbbbb/Documents/devops/key.json"
service_account_id       = "bbbbbbbbbbbbbbbbbbbb"
app_disk_image           = "bbbbbbbbbbbbbbbbbbbb"
db_disk_image            = "bbbbbbbbbbbbbbbbbbbb"
bucket_name              = "backend-stpzuev"
access_key               = "YCbbbbbbbbbbbbbbbbbbbbbbb"
secret_key               = "YCbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb"
env                      = "stage"
